{% extends 'base.html.twig' %}
{% block title %}Hagrosage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/geolocalisation.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="content-center bg-gray-100 min-w-screen">
    <h1 class="text-center text-4xl font-bold">Hagrosage</h1>
    <p class="text-center">Bienvenue sur votre espace d'administration d'arrosage</p>
    <a href="{{ path('app_zone_index') }}" class="block text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Accéder à la gestion des zones</a>
</div>

<div id="map" class="h-400px w-400"></div>



<style>
  #map {
    height: 400px; /* obligatoire */
    width: 100%;
  }
</style>
{% endblock %}