{% extends 'base.html.twig' %}
{% block title %}Hagrosage{% endblock %}

{% block body %}
<div class="content-center bg-gray-100 min-w-sreen">
    <h1 class="">Hagrosage</h1>
    <p>Bienvenue sur votre espace d'administration d'arrosage</p>
</div>
{% endblock %}